<!-- The Side Bar -->

<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">

  <nav class="d-flex align-items-center h-75 w-100">
    <ul class="nav flex-column justify-content-center gap-3 h-100 w-100">
      <!-- home -->
      <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
        <a href="{{ '/' | relative_url }}" class="nav-link">
          <span>{{ site.data.locales[include.lang].tabs.home | upcase }}</span>
        </a>
      </li>
      <!-- Posts -->
      <li class="nav-item{% if page.url contains 'posts' %}{{ " active" }}{% endif %}">
        <a href="{{ '/posts/' }}" class="nav-link">
          <span>POSTS</span>
        </a>
      </li>
      <!-- the real tabs -->
      {% for tab in site.tabs %}
      <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
        <a href="{{ tab.url | relative_url }}" class="nav-link">
          {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}

          <span>{{ site.data.locales[include.lang].tabs.[tab_name] | default: tab.title | upcase }}</span>
        </a>
      </li>
      <!-- .nav-item -->
      {% endfor %}
    </ul>
  </nav>
  <!-- .sidebar-bottom -->
</aside>
<!-- #sidebar -->