<!-- The Top Bar -->
<header id="topbar-wrapper" aria-label="Top Bar">
  <div
    id="topbar"
    class="d-flex align-items-center justify-content-between px-lg-3 h-100"
  >

    <button type="button" id="sidebar-trigger" class="btn btn-link">
      <i class="fas fa-bars fa-fw"></i>
    </button>

    <div id="topbar-right" class="d-flex align-items-center ms-auto">
      <!-- Navigation links (desktop only) -->
      <nav id="topbar-nav" class="d-none d-lg-flex align-items-center">
        <a class="nav-link px-2" href="{{ '/' | relative_url }}">Home</a>
        <a class="nav-link px-2" href="{{ '/blog/' | relative_url }}">Blog</a>
        <!-- Commented out the categories page from the topbar -->
        <!-- <a class="nav-link px-2" href="{{ '/categories/' | relative_url }}">Categories</a> -->
        <a class="nav-link px-2" href="{{ '/tags/' | relative_url }}">Tags</a>
        <a class="nav-link px-2" href="{{ '/archives/' | relative_url }}">Archives</a>
        <a class="nav-link px-2" href="{{ '/about/' | relative_url }}">About</a>
      </nav>

    </div>
      <!-- Dark/Light Mode Toggle -->
      {% unless site.theme_mode %}
        <button type="button" class="btn btn-link nav-link" aria-label="Switch Mode" id="mode-toggle-cls">
          <i id="topbar-mode-icon" class="fas fa-moon"></i>
        </button>
      {% endunless %}
  </div>
</header>