@use '../abstracts/breakpoints' as bp;

.tag {
  padding: 6px 8px 7px;
  margin-right: 0.8rem;
  line-height: 3rem;
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 1rem;

  span {
    margin-left: 0.6em;
    font-size: 0.7em;
    font-family: Oswald, sans-serif;
  }
}

#tags {
  @include bp.lt(bp.get(lg)) {
    justify-content: center !important;
  }
}
