---
---

@import 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.site-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.profile-wrapper {
    padding: 0 1.25rem !important;
}

.profile-wrapper p {
    text-align: center;
}

#avatar {
    margin: 0 auto;
}

#sidebar .site-title a {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 450;
    color: #c9c9c9;
}

#topbar-title {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 450;
    font-size: 1.4rem;
    color: #c9c9c9;
}

.preview-img img {
    filter: grayscale(20%);
}

#disqus_thread {
    position: relative;
}
#disqus_thread:after {
    content: "";
    display: none;
    height: 55px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: transparent;
}
#disqus_recommendations {
    display: none;
}
#disqus-footer {
    display: none;
}
